#begard {
    border: solid 5px #F9F9F9;
    background: #f9f9f9;
}
#begard-header {
}
#begard-content {
    float: left;
    padding-right: 0px;
}
#begard-details {
    float: right;
    padding-left: 5px;
    height: 100%;
}
.begard-inner {
    border-radius: 4px;
    background: #fff;
    padding: 5px;
}
#begard-upload, #begard-close {
    float: right;
    margin: 2px;
}

#begard-addressbar {
    margin: 5px 0;
}
#begard-breadcrumb {
    margin-bottom: 0px;
    background: #fff;
}

#begard-up.disabled {
    display: none;
}
#begard-file-details.disabled {
    display: none;
}

.begard-selected {
    background: #E0E0E0;
    border-radius: 3px;
}

.begard-file, .begard-directory {
    float: left;
    margin: 5px;
    padding: 2px;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.begard-file ul, .begard-directory ul {
    list-style: none;
    padding-left: 0;
}
.begard-file li, .begard-directory li {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.begard-file a, .begard-directory a {
    color: #337AB7;
    text-decoration: none;
}
.begard-file .icon, .begard-directory .icon {
    font-size: 45px;
}


.begard-file .icon .fa:before {
    content: '\f15b';
}
.begard-file .fa.php-ext:before,
.begard-file .fa.js-ext:before,
.begard-file .fa.css-ext:before {
    content: '\f1c9';
}
.begard-file .fa.ini-ext:before {
    content: '\f0f6';
}
