#begard {
    width: 100%;
    height: 400px;
}
#begard-header {
    padding: 5px;
    background: #f9f9f9;
}
#begard-content {
    border: solid 2px #f9f9f9;
    padding: 5px;
}
#begard-upload, #begard-close {
    float: right;
    margin: 2px;
}

#begard-addressbar {
    padding: 5px;
    background: #f9f9f9;
}
#begard-breadcrumb {
    margin-bottom: 0px;
    background: #fff;
}

.begard-file, .begard-directory {
    float: left;
    margin: 5px;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.begard-file ul, .begard-directory ul {
    list-style: none;
}
.begard-file li, .begard-directory li {
    text-align: center;
}
.begard-file .icon, .begard-directory .icon {
    font-size: 45px;
}


.begard-file .icon .fa:before {
    content: '\f15b';
}
.begard-file .fa.php-ext:before,
.begard-file .fa.js-ext:before,
.begard-file .fa.css-ext:before {
    content: '\f1c9';
}
.begard-file .fa.ini-ext:before {
    content: '\f0f6';
}
